mixin slider__slider-view(url, title, tag, user, date, comment_count, views)
    .slider__slider-view.post.slider__post(style="background-image: url(" + url  + ")")
        button.post__category-tag= tag
        h2.post__title= title
        .post__data
            span= user
            span= date
            span= comment_count
            span= views