mixin post(size, title, tag, user, date, comment_count, views, preview_url, desc)
    //- huge post preview on a slider
    if size === 'l'
        article.slider__post.post.post_size_l
            button.post__category-tag.post__element= tag
            h2.post__title.post__element= title
            .post__data.post__element
                span.post__data-chunk= user
                span.post__data-chunk= date
                span.post__data-chunk= comment_count
                span.post__data-chunk= views
    //- small post preview on the sidebar
    else if size === 's'
    //- tiny post preview, even smaller than 's;
    else if size === 'xs'
    //- default, renders basic post entry to be placed on the list of articles
    else
        article.post.page__post
            img.post__preview-img(src=preview_url, alt=title)
            button.post__category-tag.post__element= tag
            h2.post__title.post__element= title
            .post__data.post__element
                span.post__data-chunk= user
                span.post__data-chunk= date
                span.post__data-chunk= comment_count
                span.post__data-chunk= views
            p.post__description.post__element= desc
            .post__more
                a.link(href="#") Read More
    
mixin posts(posts, size)
    each post in posts
            +post(size, post.title, post.category_tag, post.user, post.date, post.comments, post.views, post.preview_url, post.desc)