mixin post(size, url, title, tag, user, date, comment_count, views, preview_url)
    //- huge post preview on a slider
    if size === 'l'
        article.slider__post.post.post_size_l
            button.post__category-tag.slide__post-element= tag
            h2.post__title.slide__post-element= title
            .post__data.slide__post-element
                span.post__data-chunk= user
                span.post__data-chunk= date
                span.post__data-chunk= comment_count
                span.post__data-chunk= views
    //- small post preview on the sidebar
    else if size === 's'
    //- tiny post preview, even smaller than 's;
    else if size === 'xs'
    //- default, renders basic post entry to be placed on the list of articles
    else
        article.post.page__post
            img.post__preview-img(src=preview_url, alt=title)
            button.post__category-tag= tag
            h2.post__title= title
            .post__data
                span= user
                span= date
                span= comment_count
                span= views
    
mixin posts(posts, size)
    each post in posts
            +post(size, post.preview_url, post.title, post.category_tag, post.user, post.date, post.comments, post.views, post.preview_url)